body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 50%;
    text-align: center;
}

h1 {
    color: #333333;
    margin-bottom: 20px;
}

.container input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

button#transform {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #00bcd4;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button#transform:hover {
    background-color: #019ca9;
}

h2 {
    color: #333333;
    margin-top: 20px;
}

#errorMensaje {
    margin-bottom: 20px;
}

canvas {
    margin-top: 20px;
}
